#canvas{
	border:1px black solid;
	
}

#page-container{
	width:100%;
}

#page{
	display:table;
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
}

#explanation{
	margin-top:100px;
	width:500px;
}